// TODO place these classes in the right section
.iter-timeline-wrapper {
  .it-now-label {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 1rem;
    font-family: $font-family-monospace;
    color: $primary-a6;
    font-weight: 600;
  }

  .row {
    position: relative;
    padding-top: $v-gap * 6;
    padding-bottom: $v-gap*6;
    &:after {
      content: '';
      width: $timeline-width;
      background: $timeline-border-color;
      position: absolute;
      left: $v-gap * 5;
      top: -$v-gap * 2;
      bottom: -$v-gap * 2;
    }
  }

  .timeline-element {
    padding: 6px 0 6px 50px;

    .card {
      background-color: #efefef;
    }
  }

  .it-pin-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: -$timeline-pin-circle-size*0.5;
    z-index: 5;
    left: $timeline-padding;

    .pin-icon {
      width: $timeline-pin-circle-size;
      height: $timeline-pin-circle-size;
      border-radius: $timeline-pin-circle-size;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $card-shadow;
      border: $timeline-pin-circle-border;
      margin-right: $v-gap * 2;
      background: #fff;
      &.in-progress{
        background:#efefef !important;
      }
    }

    svg {
      width: $timeline-pin-size;
      height: $timeline-pin-size;
      fill: $primary-a6;
    }

    .pin-text {
      color: $select-label-color;
      font-weight: 600;
      text-transform: uppercase;
      background: $primary-c1;
      border-radius: $border-radius;
      font-family: $font-family-monospace;
      font-size: 14px;
      margin-right: 1rem;

      span {
        padding: $v-gap*0.5 $v-gap * 2;
        display: block;
        position: relative;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: $primary-c1;
          border-radius: 3px;
          position: absolute;
          left: -4px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    &.it-now {
      .pin-icon {
        background: $primary-a6;
      }

      svg {
        fill: #fff;
      }

      .pin-text {
        color: #fff;
        background: $primary-a6;

        span {
          &:after {
            background: $primary-a6;
          }
        }
      }
    }

    &.it-evidence {
      .pin-icon {
        background: $primary-a10;
      }

      svg {
        fill: #fff;
      }

      .pin-text {
        color: #fff;
        background: $primary-a10;

        span {
          &:after {
            background: $primary-a10;
          }
        }
      }
    }
  }
}


@media screen {
  #pratica-summary, .formio-read-only {
    .d-preview-calendar {
      display: block;
    }

    .d-preview-calendar-none {
      display: none;
    }
  }
  .d-preview-calendar {
    display: none;
  }
  .d-preview-calendar-none {
    display: block;
  }
}

.d-none {
  &-FormIO {
    display: none;
  }

  &-SciaPraticaEdilizia {
    display: none;

  }
}

//Fix resize label in tabs
.form-group {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: auto !important;
    label {
      position: relative;
      white-space: normal;

      &.active {
        transform: unset;
        font-size: inherit;
      }
    }
  }

// TODO remove with new PNRR interface
#edit_user_profile{
  .form-group{
    select{
      border: none;
      border-bottom: 1px solid #5b6f82;
      border-radius: 0;
      padding: 0.375rem 0.5rem;
      outline: 0;
      height: 2.5rem;
      width: 100%;
      box-shadow: none;
      transition: .2s ease-out;
      font-weight: 700;
      color: #17324d;
      background-color: #fff;
    }
  }
}

.truncate-wrapper {
  max-width: 75%;

  .chip-label {
    height: auto !important;
    transform: none !important;
  }
}

.notification.top-right-fix {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 0;
  transform: translateX(0%);
  bottom: auto;
  right: 0;
  z-index: 10;
}

.flex-1 {
  flex: 1
}

.text-forward {
  color: $black;
  text-decoration: none;

  :focus {
    text-decoration: none;
  }
}

// Heights
.h {
  &-80 {
    height: 80px;
  }

  &-70 {
    height: 70px;
  }

  &-60 {
    height: 60px;
  }

  &-50 {
    height: 50px;
  }

  &-40 {
    height: 40px;
  }
}

.tooltip-inner {
  font-size: 12px;
}

.icon {
  &-50 {
    height: 50px;
    width: 50px;
  }

  &-70 {
    height: 70px;
    width: 70px;
  }
}

// Hide checkbox gateways
.row-payments {
  .form-check > [type='checkbox'] + label::after,
  .form-check > [type='checkbox'] + label::before {
    z-index: -2;
  }

  .collapse-header *[data-toggle='collapse'] {
    border-top: 0
  }
}

.p-contacts {
  padding: 2.5rem 1.5rem;
}

.bg-grey-card {
  background: #ebeef0;
}

.shadow-contacts {
  box-shadow: inset 0 10px 14px -12px rgb(0 0 0 / 34%);
}

.bg-primary{
  &-a6{
    background-color: $primary-a6;
  }
}


/*************************/


.bg-grey-card {
  background: #ebeef0
}


.t-primary {
  color: $primary;
}

.text-button-sm {
  font-size: 1rem;
  line-height: 1.5;
  @media (min-width: 576px) {
    font-size: .8888888889rem;
  }
}

@media (max-width: 991px) {
  .row-column-menu-left {
    .border-right {
      border-right: none!important;
    }
  ;
  }
}

// Max width
.max-w{
  &-100{
    max-width: 100px;
  }
  &-200{
    max-width: 200px;
  }
  &-300{
    max-width: 300px;
  }
}

.formio-form nav {
  background-color: transparent;
}



.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.it-page-section {
  ul {
    padding-left: 1.25rem;
    list-style-type: disc!important;
  }
  li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  @media (min-width: 768px){
    li {
      line-height: 1.56;
    }
  }
  @media (min-width: 576px){
    ul {
      padding-left: 2rem;
    }
    li {
      font-size: 1rem;
    }
  }
}


.choices-auto-height {
  .form-check > label {
    height: auto;
  }
}

.cursor{
  &-none{
    cursor: none;
  }
  &-help{
    cursor: help;
  }
  &-pointer{
  cursor: pointer;
}
  &-auto{
    cursor: auto;
  }
  &-default{
    cursor: default;
  }
}

// Disable effect hover tab detail payment
.it-list-wrapper .it-list a.cursor-auto:hover {
  box-shadow: none;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid hsl(210deg, 3.6255162919%, 78.21%);
  background: transparent;
  position: relative;
  z-index: 1;
  transition: none;
}
