<script type="application/ld+json" data-element="metatag">
  {
    "@context": "https://schema.org",
    "@type": "GovernmentService",
    "name": "{{ servizio.name }}",
    "serviceType": "{{ servizio.topics.name }}",
    "serviceOperator":{
      "name":"Comune di {{ servizio.ente.name }}"
     },
    "areaServed": {
      "@type": "AdministrativeArea",
      "name": "{{ servizio.coverage and servizio.coverage|length ? servizio.coverage[0] : servizio.ente.name }}"
    },
    "audience": {
      "@type": "Audience",
      "name": "{{ servizio.who|striptags|replace({"\n": "", "\r": "", "\t": ""})|trim }}"
    },
    "availableChannel": {
      "@type": "ServiceChannel",
      "name": "Dove rivolgersi",
      "serviceUrl": "{{ absolute_url( path('servizi_show', {'slug': servizio.slug})) }}",
      "availableLanguage": {
         "@type": "Language",
          "name": "Italian",
          "alternateName": "it"
       }
        {% if servizio.userGroups.count > 0 %}
        ,
      "serviceLocation":{
        "@type": "Place",
        "name": "{{ servizio.userGroups.current.name }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ servizio.userGroups.current.coreLocation.address['street_address'] }}",
          "postalCode": "{{ servizio.userGroups.current.coreLocation.address['postal_code'] }}",
          "addressLocality": "{{ servizio.ente.name }}"
        }
      }
        {% endif %}
    },
    {% if servizio.topics %}
      "category": "{{ servizio.topics.name }}",
    {% endif %}
    "logo": "{{ logo }}",
    "provider": {
      "@type": "Organization",
      "legalName": "{{ servizio.ente.name }}",
      "address": "{{ metaContacts.address is defined ?  metaContacts.address  : '' }}",
      "email": "{{ servizio.ente.email }}",
      "phone": "{{ servizio.ente.contatti }}"
    },
    "description": "{{ servizio.description }}",
    "url": "{{ absolute_url( path('servizi_show', {'slug': servizio.slug})) }}"
  }
</script>


