{% set main = ente.getMetaAsArray('main') %}
{% set topics = ente.getMetaAsArray('topics') %}
{% set all_topics = ente.getMetaAsArray('all_topics') %}
<div class="it-header-navbar-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg has-megamenu">
          <button aria-controls="nav10" aria-expanded="false"
                  aria-label="Toggle navigation" class="custom-navbar-toggler"
                  data-target="#nav10" type="button">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
            </svg>
          </button>
          <div class="navbar-collapsable" id="nav10">
            <div class="overlay"></div>
            <div class="close-div">
              <button class="btn close-menu" type="button" data-focus-mouse="false">
                <span class="it-close sr-only">close</span>
                <svg class="icon">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                </svg>
              </button>
            </div>
            <div class="menu-wrapper">
              {% if main %}
                <ul class="navbar-nav" data-element="main-navigation">
                  {% for item in main %}
                    {% if item.url|default and item.text|default %}
                      <li class="nav-item">
                        <a class="nav-link" {% if item.text|lower == 'nav.admin.servizi'|trans|lower  %}data-element="all-services"{% endif %} href="{{ item.url }}">{{ item.text }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
              {% if topics %}
                <ul class="navbar-nav navbar-secondary">
                  {% for item in topics %}
                    <li class="nav-item">
                      {% if item.url|default and item.text|default %}
                        {% if loop.last and not all_topics|default %}
                          <a data-element="all-topics" class="nav-link " href="{{ item.url }}">
                            <span class="font-weight-bold">{{ item.text }}</span>
                          </a>
                        {% else %}
                          <a data-element="topic-element" class="nav-link" href="{{ item.url }}">{{ item.text }}</a>
                        {% endif %}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if all_topics|default %}
              <a data-element="all-topics" class="nav-link " href="{{ all_topics }}">
                <span class="font-weight-bold">{{ "all_topics" | trans }}</span>
              </a>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
