<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
  {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block favicon %}{% endblock %}
    {% if feature('feature_new_outdatedbrowser') %}
      {{ encore_entry_script_tags('outdated-browser-rework') }}
    {% endif %}
    {% if google_tag_manager_key is defined and google_tag_manager_key is not empty %}
    <!-- Google Tag Manager -->
    <script defer="defer">(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '{{ google_tag_manager_key }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}

    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}" defer="defer"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}/messages/{{ app.request.locale }}.js" defer="defer"></script>
  {% endblock %}
</head>
<body>

{% if google_tag_manager_key is defined and google_tag_manager_key is not empty %}
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id={{ google_tag_manager_key }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

{% block header %}{% endblock %}
{% block content_container %}{% endblock %}
{% block footer %}{% endblock %}
{% if feature('feature_new_outdatedbrowser') %}
  <div id="outdated"></div>
{% endif %}
{% block javascripts %}{% endblock %}
</body>
</html>
