{% extends 'Default/index.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('compile') }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/element-ui/1.4.13/theme-default/index.css" integrity="sha512-698XkMvQis2vuqDf9fvwdvAjVWsAEwb/2yUWZZyzEEd/z3M++P03dmS/oxSIUGe7hg2aaS+MXUKQqMKi2iolxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .callout .body p {
      font-family: "Titillium Web", Geneva, Tahoma, sans-serif !important;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('compile') }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js" integrity="sha512-yNMXFsZbP+Hii2fM4n1EvhKbBCZ2NAfW1FvlN6yB1ZanH+1sEcNV2rPEg6qCMRT/4dY01ELCdD75WflfTHdKJg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/element-ui/1.4.13/index.js" integrity="sha512-cxMPoY2pP9tAt+qy1y/9zQTKAFNtW9DT5tKin9+0qYml+iK6HdaqOS/r523pNmmps3c4E3v5rZSBQb0aA5EFKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% if form.vars.helper.vueApp %}
    <script src="{{ asset('bundles/app/js/components/' ~ form.vars.helper.vueApp ~ '.js') }}">
    </script>
    <script>
      let vueBundledData = {{ form.vars.helper.vueBundledData|raw }};
      new Vue({
        el: "#vueApp"
      });
    </script>
  {% endif %}
  <script>
    new Vue({
      el: "#compilationNotes",
      data: {
        compilationNotes: null,
        endpointUrl: '{{ path('api_set_notes_for_pratica', {'pratica': pratica.id}) }}'
      },
      created: function () {
        var self = this;
        axios.get(this.endpointUrl)
          .then(function (res) {
            if (res.data) {
              self.compilationNotes = res.data;
            }
          })
      },
      methods: {
        onSave: function () {
          axios.post(this.endpointUrl, this.compilationNotes)
        }
      }
    })
  </script>
{% endblock %}

{% block main_content %}
  {% form_theme form 'form/ocsdc_form_style.html.twig' %}

  <section class="container {{ form.vars.id }} mb-3">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        {% if pratica.statusName == 'STATUS_DRAFT_FOR_INTEGRATION' %}
          <h1>{{ 'pratica.integrazione_pratica'|trans({'%name%':pratica.servizio.name}) }}</h1>
          <small>{{ 'pratica.integrazione_pratica_description'|trans() }}</small>
          {% if pratica.haUnaRichiestaDiIntegrazioneAttiva and pratica.getRichiestaDiIntegrazioneAttiva is not null %}
            {% set download_allegato_path = user.id == pratica.user.id ? 'allegati_download_cpsuser' : 'allegati_download_operatore' %}
            <div class="alert alert-warning">
              {% if integration_request_message %}
                {{ integration_request_message.message }}
              {% else %}
                {{ pratica.getRichiestaDiIntegrazioneAttiva.description }}
              {% endif %}
              (
              <small>
                <a
                  href="{{ path( download_allegato_path, {'allegato': pratica.getRichiestaDiIntegrazioneAttiva.id}) }}">{{ 'allegato.scarica_allegato_richiesta_integrazione'|trans }}</a>
              </small>
              )
            </div>
          {% endif %}
        {% else %}
          <h1>{{ pratica.servizio.name }}</h1>
        {% endif %}
      </div>
    </div>


    <div class="row hidden-xs">
      <div class="col-md-12 mt-4 mb-4">
        {% if pratica.servizio.legacy %}
          {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
        {% endif %}
      </div>
    </div>

    <div class="row mt-2">
      {% set currentStep = flow.steps[flow.getCurrentStepNumber() - 1] %}
      <div class="px-lg-4 {{ (currentStep.formType == "App\\Form\\Base\\SelectPaymentGatewayType" or
      currentStep.formType == "App\\Form\\Base\\PaymentGatewayType") ? 'col-lg-12' : 'col-lg-8' }}">
        {{ form_start(form, {'action': path('pratiche_compila', {'pratica': pratica.id }) } ) }}

        <div class="step-{{ flow.getCurrentStepNumber() }}">
          {{ form_errors(form) }}
            {% if form.vars.helper.descriptionText|length > 0 and not (pratica.statusName == 'STATUS_PAYMENT_PENDING' and form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType != 'mypay') %}
              {{ form.vars.helper.descriptionText|raw }}
            {% endif %}

          {% if currentStep.formType == "App\\Form\\Base\\SummaryType" %}
            <p>{{ 'steps.common.conferma.payment_help_text_top' | trans }}</p>
            {{ include('Pratiche/parts/pratica_summary.html.twig', {'pratica':form.vars.data, 'user': user}) }}
          {% elseif  flow.getCurrentStepNumber() == flow.getLastStepNumber() %}
            <p><b>{{ 'steps.common.conferma.help_text_top'|trans }}</b></p>
            {{ include('Pratiche/parts/pratica_summary.html.twig', {'pratica':form.vars.data, 'user': user}) }}
          {% endif %}
          {{ form_rest(form) }}

          <div id="vueApp">
            {% if form.vars.helper.vueApp %}
            <{{ form.vars.helper.vueApp }}></{{ form.vars.helper.vueApp }}>
            {% endif %}
          </div>
        </div>

      {% if form.vars.id != 'pratica_payment_gateway' or pratica.servizio.isLegacy or (form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType == 'bollo') and (pratica.statusName != 'STATUS_PAYMENT_PENDING' or pratica.servizio.isPaymentDeferred) %}
        <div class="mt-5">
          {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}
        </div>
      {% endif %}

      {{ form_end(form) }}
    </div>

    <div class="pt-5 pt-lg-2 col-lg-4">
      {% if form.vars.helper.guideText|length > 0 %}
        <div class="callout">
          <div class="callout-title">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
            </svg>
            {{ 'pratica.guida_utente'|trans }}
          </div>
          <div class="body">
            <p>{{ form.vars.helper.guideText|raw }}</p>
          </div>
        </div>
      {% endif %}

      {# Info compilazione specificate nel servizio #}
      {{ include('Pratiche/parts/legacy/compilation_info_legacy.html.twig') }}

      {# Note compilazione per utente #}
      {{ include('Pratiche/parts/legacy/user_compilation_notes_legacy.html.twig') }}

    </div>
  </section>

  {# Modal di conferma #}
  {{ include('Pratiche/parts/confirm_modal.html.twig') }}

{% endblock %}

