{% extends 'Default/index.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('compile') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('compile') }}
{% endblock %}

{% block main_content %}
  {% form_theme form 'form/ocsdc_form_style.html.twig' %}

  <section class="container {{ form.vars.id }}">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 py-lg-2 cmp-heading">
        <h1>{{ pratica.servizio.name }}</h1>
        {{ include('Pratiche/parts/compilation_info.html.twig') }}
        <p>
          <a href="#" data-toggle="modal" data-target="#modalNote">
            <svg class="icon icon-primary"><use href="/bootstrap-italia/dist/svg/sprite.svg#it-note"></use></svg>
            <span class="text-button t-primary">{{ 'add_note' | trans }}</span>
          </a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-4 mb-4">
          {% include 'bundles/CraueFormFlowBundle/FormFlowCustom/stepList_content.html.twig' %}
      </div>
    </div>

    <div class="row">
    <div class="col-12 col-lg-3 d-lg-block mb-4 d-none">
      <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="{{ 'servizio.info' | trans }}" data-navscroll="">
          <div class="navbar-custom" id="navbarNavProgress">
            <div class="menu-wrapper">
              <div class="link-list-wrapper">
                <div class="accordion">
                  <div class="accordion-item">
                          <span class="collapse-header" id="accordion-title-one">
                            <button class="accordion-button collapse-button pb-10 px-3" type="button" data-toggle="collapse" data-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one" data-focus-mouse="false">
                              {{ 'servizio.info' | trans }}
                            </button>
                          </span>
                    <div class="progress">
                      <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>
                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                      <div class="accordion-body">
                        <ul class="link-list" data-element="page-index" id="navItems">
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
      <div class="col-12 col-lg-8 offset-lg-1 mt-2 mt-lg-0">
      {% set currentStep = flow.steps[flow.getCurrentStepNumber() - 1] %}
      <div class="it-page-sections-container px-lg-4 col-12">
        {{ form_start(form, {'action': path('pratiche_compila', {'pratica': pratica.id }) } ) }}
        <div class="step-{{ flow.getCurrentStepNumber() }}">
          {{ form_errors(form) }}
            {% if form.vars.helper.descriptionText|length > 0 and not (pratica.statusName == 'STATUS_PAYMENT_PENDING' and form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType != 'mypay') %}
              {{ form.vars.helper.descriptionText|raw }}
            {% endif %}

          {% if currentStep.formType == "App\\Form\\Base\\SummaryType" %}
            <p>{{ 'steps.common.conferma.payment_help_text_top' | trans }}</p>
            {{ include('Pratiche/parts/pratica_summary.html.twig', {'pratica':form.vars.data, 'user': user}) }}
          {% elseif  flow.getCurrentStepNumber() == flow.getLastStepNumber() %}
            <p><b>{{ 'steps.common.conferma.help_text_top'|trans }}</b></p>
            {{ include('Pratiche/parts/pratica_summary.html.twig', {'pratica':form.vars.data, 'user': user}) }}
          {% endif %}
          {{ form_rest(form) }}
        </div>

      {# Sezione pagamenti diveso da MyPay e Bollo #}
      {% if pratica.paymentType is not null and pratica.paymentType != 'bollo' and pratica.paymentType != 'mypay' %}
        {{ include('Pratiche/parts/_payment.twig') }}
      {% endif %}


      {% if currentStep.formType == "App\\Form\\FormIO\\FormIORenderType" %}
        <div id="formio"
             class="editable formio-front"
             data-locale="{{ app.request.locale }}"
             data-formserver_url="{{ formserver_url }}"
             data-form_id="{{ pratica.servizio.formIoId }}"
             data-form_validate="{{ path( 'formio_validate', {'servizio': pratica.servizio.slug}) }}"
             data-save-draft-url="{{ path('pratiche_draft', {'pratica': pratica}) }}"
             data-signature_check_ws_url="{{ signature_check_ws_url }}"
        >
        </div>
      {% endif %}

      <div id="formio-custom-errors" class="alert alert-danger alert-dismissible" style="display: none" role="alert" auto-close="5000">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% if form.vars.id != 'pratica_payment_gateway' or (form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType == 'bollo') and (pratica.statusName != 'STATUS_PAYMENT_PENDING' or pratica.servizio.isPaymentDeferred) %}
        <div class="mt-5">
          {% include 'bundles/CraueFormFlowBundle/FormFlowCustom/buttons.html.twig' %}
        </div>
      {% endif %}
      {{ form_end(form) }}
    </div>

      {# Note compilazione per utente #}
      {{ include('Pratiche/parts/user_compilation_notes.html.twig') }}
    </div>
    </div>
  </section>

  {# Modal di conferma #}
  {{ include('Pratiche/parts/confirm_modal.html.twig') }}


  {{ include('Servizi/parts/_contacts.html.twig')}}

{% endblock %}

