{% extends 'Default/index.html.twig' %}
{% block title %}{{ category.name }} - Stanza del cittadino{% endblock %}
{% set sidebar_list_limit = 4 %}
{% block main_content %}
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 pb-2">
        <div class="row pb-3 pb-lg-4">
          <div class="col-lg-8">
            <h1>{{ category.name }}</h1>
            {% if not category.description|isEmpty %}
              <div class="clearfix">
                {{ category.description|raw }}
              </div>
            {% endif %}
          </div>

          <div class="col-lg-3 offset-lg-1 mt-5 mt-lg-0">
            <h6>{{ 'categories.all'|trans }}</h6>
            <div class="link-list-wrapper">
              <ul class="link-list m-0">
                {% for item in categories|slice(0, sidebar_list_limit) %}
                  <li>
                    <a data-element="topic-element"
                       class="p-0 list-item {% if item.id == category.id %} medium{% endif %}"
                       href="{{ path('category_show', {'slug': item.slug}) }}">
                      {{ item.name }}
                    </a>
                  </li>
                {% endfor %}
                {% if categories|length > sidebar_list_limit %}
                  <li>
                    <a class="p-0 list-item" data-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                      <svg class="icon">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-more-items"></use>
                      </svg>
                      <em>{{ 'load_more'|trans }}</em>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a data-element="all-services" class="p-0 list-item" href="{{ path('servizi_list') }}">
                      {{ 'nav.servizi'|trans }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
            <div class="link-list-wrapper collapse" id="collapseExample">
              <ul class="link-list">
                {% for item in categories|slice(sidebar_list_limit, (categories|length-sidebar_list_limit)) %}
                  <li>
                    <a data-element="topic-element"
                       class="p-0 list-item {% if item.id == category.id %} medium{% endif %}"
                       href="{{ path('category_show', {'slug': item.slug}) }}">
                      {{ item.name }}
                    </a>
                  </li>
                {% endfor %}
                <li>
                  <a data-element="all-services" class="p-0 list-item" href="{{ path('servizi_list') }}">
                    {{ 'nav.servizi'|trans }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if children|length > 0 %}
    <section class="container-fluid py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for item in children %}
            <div class="col-12 col-sm-6 col-lg-4">
              {{ include('Servizi/parts/panel/topic.html.twig', {'item': item}) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  {% if services|length > 0 %}
    <section class="container py-5">
      <div class="row">
        {% for item in services %}
          <div class="col-12 col-sm-6 col-lg-4">
            {% if item.type == 'service' %}
              {{ include('Servizi/parts/panel/servizio.html.twig', {'servizio':item.object, showTopic: false}) }}
            {% else %}
              {{ include('Servizi/parts/panel/service-group.html.twig', {'servizio':item.object, showTopic: false}) }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

{% endblock %}
